<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>typography-colors</key>
	<dict>
		<key>background</key>
		<string>dark royal-blue</string>
		<key>interactive</key>
		<string>lightest purple</string>
		<key>gold</key>
		<string>#FFAB01</string>
		<key>royal-blue</key>
		<string>#08224C</string>
		<key>text</key>
		<string>gold</string>
	</dict>
	<key>typography-kit</key>
	<dict>
		<key>labels</key>
		<dict>
			<key>line-break</key>
			<string>word-wrap</string>
		</dict>
		<key>point-step-size</key>
		<integer>2</integer>
		<key>point-step-multiplier</key>
		<integer>1</integer>
	</dict>
	<key>ui-font-text-styles</key>
	<dict>
		<key>heading</key>
		<dict>
			<key>font-name</key>
			<string>Avenir-Medium</string>
			<key>point-size</key>
			<integer>36</integer>
			<key>text-color</key>
			<string>text</string>
			<key>letter-case</key>
			<string>regular</string>
		</dict>
		<key>paragraph</key>
		<dict>
			<key>font-name</key>
			<string>Avenir-Medium</string>
			<key>point-size</key>
			<integer>16</integer>
			<key>text-color</key>
			<string>text</string>
			<key>letter-case</key>
			<string>regular</string>
			<key>disabled-text-color</key>
			<string>#AAAAAA</string>
			<key>highlighted-text-color</key>
			<string>#FF0000</string>
			<key>selected-text-color</key>
			<string>#00FF00</string>
		</dict>
		<key>interactive-text</key>
		<dict>
			<key>extends</key>
			<string>paragraph</string>
			<key>text-color</key>
			<string>interactive</string>
		</dict>
	</dict>
</dict>
</plist>
